@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Nanum+Myeongjo&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
img{
    width: 600px;
}
.buy {
    margin-top: 10px;
	background:linear-gradient(to bottom, #ffc28f 5%, #f0a683 100%);
	border-radius:6px;
	display:inline-block;
	cursor:pointer;
	color:#272727;
	font-family: 'Nanum Myeongjo', serif;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #c7724b2c;
}
#section1,#section2,#section3{
    background-color: rgb(248, 197, 235);
}

.contain1{
    text-align: center;
    width: 75%;
    margin: 0 auto;
    padding: 20px 0;
}

h1{
    font-family: 'Abril Fatface', cursive;
}

.contain1 p{
    margin-top: 20px;
    font-family: 'Nanum Myeongjo', serif;
}

.contain2{
    text-align: center;
    width: 75%;
    margin: 0 auto;
    padding: 20px 0;
}

h1{
    font-family: 'Abril Fatface', cursive;
}

.contain2 p{
    margin-top: 20px;
    font-family: 'Nanum Myeongjo', serif;
}
.contain3{
    text-align: center;
    width: 75%;
    margin: 0 auto;
    padding: 20px 0;
}

h1{
    font-family: 'Abril Fatface', cursive;
}

.contain3 p{
    margin-top: 20px;
    font-family: 'Nanum Myeongjo', serif;
}
