.animal-info {
    text-align: center;
    margin: 20px auto;
    max-width: 600px;
}

.animal-info h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.animal-info img {
    max-width: 70%;
    height: auto;
    margin: 20px 0;
}

.animal-info p {
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0 20px;
}

.animal-info .gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Adjust the number of columns as needed */
    gap: 10px; /* Adjust the gap between images */
    margin-top: 20px;
}

.animal-info .gallery img {
    max-width: 100%;
    height: auto;
}