/* Google Fonts */
*{
  font-family: Arial, sans-serif;
}
/*Header*/
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

/* navigation bar */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  
  .logo a {
    text-decoration: none;
    color: #000000;
    font-size: 24px;
    font-weight: bold;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
  }
  
  .nav-links li {
    margin: 0 15px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  .nav-links a:hover {
    color: #111e46;
  }
  
/* Paragraph */
body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3rem;
}

.profile-image img {
    height: 250px;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.151);
}

.profile-content {
    padding: 10px;
    max-width: 600px;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

ul {
    list-style: disc;
    margin-left: 1.5rem;
}

a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #f44;
}
