/* Google Fonts */


/* Paragraph */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3rem;
}

.profile-image img {
    height: 250px;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.151);
}

.profile-content {
    padding: 10px;
    max-width: 600px;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

ul {
    list-style: disc;
    margin-left: 1.5rem;
}

a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #f44;
}
