*{
    font-family: Arial, sans-serif;
  }
  /*Header*/
  header {
      background-color: #333;
      color: #fff;
      padding: 10px 0;
      text-align: center;
  }
  
  /* navigation bar */
  
  .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 20px;
    }
    
    .logo a {
      text-decoration: none;
      color: #000000;
      font-size: 24px;
      font-weight: bold;
    }
    
    .nav-links {
      list-style: none;
      display: flex;
    }
    
    .nav-links li {
      margin: 0 15px;
    }
    
    .nav-links a {
      text-decoration: none;
      color: #000000;
      font-weight: bold;
      transition: color 0.3s;
    }
    
    .nav-links a:hover {
      color: #111e46;
    }

    .categories {
      text-align: center;
      margin: 20px 0;
  }
  
  .category {
      background-color: #333;
      color: #fff;
      padding: 10px 20px;
      margin: 5px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
  }
  
  .category.active {
      background-color: #708F96;
  }
  
  main {
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  
  .gallery {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
      padding: 20px;
  }
  
  .photo {
      border-radius: 5px;
      overflow: hidden;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
      cursor: pointer;
      width: 300px;
      height: 200px;
  }
  
  .photo img {
      max-width: 100%;
      height: auto;
  }
  
  .carousel-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 20px;
  }
  
  #prev-button,
  #next-button {
      background-color: #333;
      color: #fff;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
      margin-bottom: 10px;
  }
  
  .carousel {
      display: flex;
      overflow: hidden;
      width: 300px;
      max-width: 100%;
  }
  
  .carousel img {
      width: 100%;
      height: auto;
  }
  
  .footer {
      background-color: #333;
      color: #fff;
      text-align: center;
      padding: 10px;
  }
  
  .fullscreen-button {
      position: fixed;
      bottom: 20px;
      right: 20px;
  }
  
  #fullscreen-toggle {
      background-color: #333;
      color: #fff;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
  }
    
    /* Footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}