@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
/* Reset some default styles */
body, ul {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Navbar styles */
.navbar {
    background-color: #000000;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: relative;
    z-index: 2;
    margin-top: 2%;
}

.brand {
    font-size: 40px;
    font-family: 'Bebas Neue', sans-serif;
}

.brand a {
    text-decoration: none;
    color: white;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: white;
}

.nav-links a:hover{
    color: #ff28a9;
    font-weight: bold;
}

.icons {
    display: flex;
    align-items: center;
}

.search-icon, .bell-icon {
    margin-right: 20px;
    cursor: pointer;
}

.profile {
    position: relative;
    cursor: pointer;
}

/* Search Bar Styles */
.search-bar {
    position: relative;
    width: 0;
    overflow: hidden;
    transition: width 0.3s ease-in-out;
    display: flex;
    align-items: center;
}

.search-bar input {
    flex: 1;
    border: none;
    padding: 10px;
    outline: none;
    border-bottom: 2px solid #ffffff;
    background-color: transparent; 
    color: white; 
}

.search-line {
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #ffffff;
    bottom: 0;
    left: 0;
    transition: width 0.3s ease-in-out;
}


/* Profile Dropdown Styles */
.profile {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.profile-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.profile-icon img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}

.dropdown {
    display: none;
    position: absolute;
    top: 40px;
    right: 0;
    background-color: #ffffff;
    border: 1px solid #000000;
    color: #000000;
    border-radius: 4px;
    z-index: 1;
    transition: top 0.3s; 
}

.dropdown.active {
    top: 10px; 
    opacity: 1;
    pointer-events: auto;
}

.dropdown div {
    padding: 10px 20px;
}

.dropdown a {
    text-decoration: none;
    color: white;
    display: block;
    font-weight: bold;
}

.profile:hover .dropdown {
    display: block;
}

/* Footer Styles */
.footer {
    background-image: url(../images/gradient.png);
    color: white;
    padding: 20px 0;
}

.footer-content {
    display: grid;
    grid-template-columns: 1fr .5fr .5fr .5fr .5fr;
    gap: 20px;
    align-items: start;
    grid-template-areas: "subscribe empty contact quick legal";
}

.subscribe-section {
    grid-area: subscribe;
    text-align: left;
    margin-left: 5%;
    margin-bottom: 5px;
}

.subscribe-section h4 {
    font-size: 18px;
}

.subscribe-section h6 {
    font-size: 12px;
}

.subscribe-input {
    display: flex;
    align-items: center;
}

.subscribe-section input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px;
}

.subscribe-section button {
    background-color: #000000;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.empty-column {
    grid-area: empty;
}

.contact-info {
    grid-area: contact; 
    text-align: left;
}

.contact-info h4 {
    font-size: 18px;
    margin-bottom: 10px;
}

.contact-info p {
    margin-bottom: 10px;
}

.quick-links {
    grid-area: quick; 
    text-align: left;
}

.quick-links h4 {
    font-size: 18px;
}

.quick-links ul {
    list-style: none;
    padding: 0;
}

.quick-links ul li {
    margin-bottom: 5px;
    cursor: pointer;
}

.legal-links {
    grid-area: legal; 
    text-align: left;
}

.legal-links h4 {
    font-size: 18px;
    margin-bottom: 10px;
}

.legal-links ul {
    list-style: none;
    padding: 0;
}

.legal-links ul li {
    margin-bottom: 5px;
    cursor: pointer;
}

.copyright-bar {
    margin-top: 10px;
    background-color: #000000a1;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright-bar p {
    margin-left: 5%;
    color: white;
}

.social-links {
    margin-right: 5%;
    text-align: right;
}

.social-links a {
    margin-left: 10px;
    color: white;
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    /* Navbar styles */
    .navbar {
        padding: 10px;
    }

    .brand {
        font-size: 24px;
    }

    .nav-links li {
        margin-right: 10px;
    }

    .icons {
        font-size: 18px;
    }
    
    /* Footer Style */
    .footer-content {
        grid-template-columns: 1fr 1fr;
    }

    .contact-info, .quick-links, .legal-links {
        text-align: center;
    }

    .contact-info p {
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 480px) {
    /* Navbar styles */
    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .brand {
        font-size: 20px;
        text-align: center;
    }

    .nav-links {
        margin-top: 10px;
        flex-direction: column;
    }

    .nav-links li {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .icons {
        margin-top: 10px;
    }

    /* Footer Style */
    .footer-content {
        grid-template-columns: 1fr;
    }
}


