/* Section 1: Welcome Header */
.welcome-header {
    margin: 0 7% 0 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}

.welcome-content {
    flex-basis: 50%;
}

.welcome-content h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    font-style: italic;
}

.welcome-content p {
    font-size: 1.2rem;
    font-size: 24px;
}

.welcome-header .btn {
    display: inline-block;
    background-color: #ffffff;
    color: #000000;
    border-color: #666;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.26);
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 20px;
    font-weight: bold;
    font-weight: 400;
}

.logo-header{
    flex-basis: 50%;
    display: flex;
    justify-content: flex-end;
}

.logo-header img {
    max-width: 70%;
    height: auto;
}

/* Section 2: Science Cards */
.feature-card {
    justify-content: space-between;
    align-items: center;
}

.feature-card h2{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 10px;
    padding-left: 40px;
    font-family: 'Lobster', cursive;
}

.feature-cards {
    background: linear-gradient(180deg, #fff 50%, #fff 50%, #fff 70%, #0000001e 70%);
    display: flex;
    justify-content: space-between;
    padding: 40px 10% 40px 10%;
    gap: 7%;
}

.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 25px;
    padding: 20px;
    flex-basis: calc(33.33%);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.card h2 {
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.card img {
    max-width: 70%;
    height: auto;
    margin-top: 10px;
    border-radius: 5px;
}

.card p {
    font-size: 1rem;
    color: #666;
    margin-top: 10px;
}

.card .btn{
    display: inline-block;
    background-color: #ffffff;
    color: #E1A177;
    border: 1px solid #E1A177;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 20px;
    font-weight: 500;
}

/* Section 3: Title with Description and Button */
.section-with-title {
    margin: 0 7% 0 7%;
    display: flex;
    justify-content: space-between;
    padding: 40px;
}

.section-content {
    flex-basis: 60%;
}

.section-content h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    font-family: 'Lobster', cursive;
    font-size: 60px;
}

.section-content p {
    font-size: 1rem;
    color: #666;
    font-size: 24px;
}

.section-content .btn {
    background-color: #E1A177;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 20px;
    font-weight: bold;
}

.image {
    flex-basis: 30%;
    text-align: right; 
}

.image img {
    max-width: 60%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* Section 4: Recipe Cards */
.recipe{
    justify-content: space-between;
    align-items: center;
}

.recipe h2{
    font-size: 2.5rem;
    margin-bottom: 10px;
    padding-left: 40px;
    text-align: center;
}

.recipe-cards {
    display: flex;
    justify-content: space-between;
    padding: 40px 10% 40px 10%;
    gap: 7%;
}

.recipe-cards h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.recipe-cards .btn{
    display: inline-block;
    background-color: #ffffff;
    color: #E1A177;
    border: 1px solid #E1A177;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 20px;
    font-weight: 500;
    font-style: italic;
}



/* Section 5: Another Header */
.another-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    background-color: #e1a17769;
    border: 1px solid #ddd;
}

.column5-1 {
    margin-left: 5%;
    flex-basis: 30%;
}

.column5-2 {
    margin-right: 5%;
    flex-basis: 70%;
}

.bottom-image {
    flex-basis: 30%;
    text-align: left; 
}

.bottom-image img {
    max-width: 70%;
    height: auto;
    border-radius: 5px;
}

.another-header h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    font-style: italic;
}

.another-header p {
    font-size: 1.2rem;
    width: 70%;
    font-size: 24px;
}
