@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1;800;0,700&display=swap');

/* Reset some default styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

/* Nav Bar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0000002f;
    padding: 10px 20px;
    color: #fff;
}

.logo {
    flex-basis: 30%;
}

.logo a {
    text-decoration: none;
}

.logo img {
    max-width: 30%;
    height: auto;
}

.nav-links {
    flex-basis: 60%;
    list-style: none;
    display: flex;
    justify-content: flex-end; /* Align links to the right */
    gap: 20px;
}

.nav-links li {
    margin: 0;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* Style for navigation links when hovered */
.nav-links a:hover {
    color: #E1A177;
}


/* Footer */
.footer {
    display: flex;
    justify-content: space-between;
    background-color: #E1A177;
    padding: 20px;
}

/* Left Column */
.footer-left {
    flex-basis: 30%;
    padding-right: 20px;
    border-right: 1px solid #ccc; /* Optional: Add a border to separate columns */
}

.bordered-rectangle{
    background-color: #ffffff34;
}

/* Logo in the left column */
.footer-logo img {
    max-width: 20%;
    height: auto;
}

.footer-copyright {
    color: #777;
    margin-top: 10px;
}

/* Middle Column */
.footer-middle {
    color: #fff;
    flex-basis: 40%;
    padding-left: 10px;
}

.footer-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-links li {
    margin-bottom: 10px;
}

.footer-links a {
    text-decoration: none;
    color: #fff;
    display: block;
}

.footer-social {
    margin-top: 20px;
}

.social-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-links li {
    display: inline;
    margin-right: 10px;
}

.social-links a {
    text-decoration: none;
}

/* Right Column */
.footer-right {
    color: #fff;
    flex-basis: 30%;
}

.footer-contact {
    margin-top: 10px;
}

.footer-contact h4 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.footer-contact p {
    margin: 0;
}

/* Subscribe Form */
.footer-subscribe h4 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.footer-subscribe form {
    display: flex;
}

.footer-subscribe input[type="email"] {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.footer-subscribe button[type="submit"] {
    background-color: #fff;
    color: #E1A177;
    border: none;
    border-radius: 5px;
    padding: 8px 15px;
    margin-left: 10px;
    cursor: pointer;
}
