.top-square{
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
}

.navbar{
    background-color: #e1a17769;
    position: absolute;
    width: 95%;
    height: 95%;
    top: 2%;
}

nav{
    display: block;
}

/* Section 1: Our Technology */
.page-header {
    margin: 0 7% 0 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}

.header-content {
    flex-basis: 50%;
}

.header-content h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    font-style: italic;
}

.header-content p {
    font-size: 1.2rem;
    font-size: 24px;
}

.page-header .btn {
    background-color: #E1A177;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 20px;
    font-weight: bold;
}

.logo-header{
    flex-basis: 50%;
    display: flex;
    justify-content: flex-end;
}

.logo-header img {
    margin-right: 5%;
    max-width: 40%;
    height: auto;
    border-radius: 5px;
}

/* Section 2: Natural Energy */
.natural-energy{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}

.natural-content{
    margin: 0 7% 0 7%;
    flex: 1;
}

.natural-content h2{
    font-size: 2.5rem;
    margin-bottom: 10px;
    font-style: italic;
}

.natural-content p{
    font-size: 24px;
}

.natural-image img {
    float: right;
    padding: 1% 0 1% 5%;
    max-width: 20%;
    height: auto;
    border-radius: 5px;
}

/* Image Divider */
.image-divider{
    margin-top: 0;
}
.image-divider img{
    width: 100%;
}

/* Section 3: Genetics */
.genetics{
    margin: 0 7% 0 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}

.genetics-content{
    flex: 1;
}

.genetics-content h2{
    font-size: 2.5rem;
    margin-bottom: 10px;
    font-style: italic;
}

.genetics-content p{
    font-size: 24px;
}
.genetic-image1{
    border-radius: 5px
}

.genetic-image1 img{
    float: left;
    padding: 1% 5% 1% 0;
    max-width: 25%;
    height: auto;
    border-radius: 5px;
}

.genetic-image2 img{
    float: right;
    padding: 0 0 0 5%;
    max-width: 25%;
    height: auto;
    border-radius: 5px;
}

/* Section 4: Patent */
.patent{
    background-color: #e1a17769;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}

.patent-content{
    margin: 0 7% 0 7%;
    flex: 1;
}

.patent-content h2{
    font-size: 2.5rem;
    margin-bottom: 10px;
    font-style: italic;
}

.patent-content p{
    font-size: 24px;
}

.patent-image img {
    float: left;
    padding: 0 5% 1% 0;
    max-width: 20%;
    height: auto;
    border-radius: 5px;
}
