/* Reset some default styles */
body, h1, p, a {
    margin: 0;
    padding: 0;
  }
  
  /* Global styles */
  body {
    font-family: Arial, sans-serif;
  }
  
  /* Hero section styles */
  #hero-1 {
    background-image: url(../images/wellness.jpg);
    background-size: cover;
    background-position: center;
    color: rgb(141, 180, 109);
    text-align: center;
    padding: 100px 0;
  }
  
  #hero-1 h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  #hero-1 p {
    font-size: 18px;
    margin-bottom: 30px;
  }
   /* Hero section styles */
   #hero-2 {
    background-image: url(../images/coffee.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 100px 0;
  }
  
  #hero-2 h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  #hero-2 p {
    font-size: 18px;
    margin-bottom: 30px;
  }
   /* Hero section styles */
   #hero-3 {
    background-image: url(../images/watermelon.jpg);
    background-size: cover;
    background-position: center;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 100px 0;
  }
  
  #hero-3 h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  #hero-3 p {
    font-size: 18px;
    margin-bottom: 30px;
  }
  
  .cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff9900;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  .cta-button:hover {
    background-color: #e67300;
  }