@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Montserrat:wght@400;500;600;800&display=swap');

/* Reset some default styles */

body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
    font-family: 'Hind', sans-serif;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
}

/* Style the navbar */
.navbar {
    margin-top: 30px;
    background-color: #007BFF;
    text-align: center;
    padding: 10px 0;
}

.navbar ul {
    list-style: none;
    padding: 0;
}

.navbar li {
    display: inline;
    margin-right: 20px;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transition: color 0.3s;
}

.navbar a:hover {
    color: #ffffff;
    font-weight: bold;
}

/*content */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/*main header */
.main-header h1 {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}
.main-header h2 {
    font-size: 24px;
    text-align: center;
}
.main-header h3 {
    font-size: 20px;
    text-align: center;
}
.main-header p {
    font-size: 18px;
    text-align: center;
    margin: 10px 0;
}

/*image section */
.image-section {
    text-align: center;
    margin: 20px 0;
}
.image-section img {
    max-width: 100%;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.image-section span {
    font-size: 24px;
    font-weight: bold;
    margin: 0 20px;
}
.image-section p {
    font-size: 16px;
}

/*CSS Grid */
.image-section {
    display: grid;
    grid-template-columns: 1fr auto 1fr; 
    grid-template-rows: auto; 
    text-align: center;
    margin: 20px 0;
    align-items: center; 
}

.image-container {
    text-align: center;
}

.image-container:hover {
    transform: scale(1.05);
    transition: transform 0.2s ease-in-out; 
}

.vs-container {
    text-align: center;
    display: flex;
    justify-content: center; 
    align-items: center; 
    font-family: 'Montserrat', sans-serif;
}

/* secondary header */
.secondary-header h2 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}
.secondary-header h3 {
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
}
.secondary-header p {
    font-size: 18px;
    margin-top: 10px;
    text-align: center;
}

/* RSVP buttons */
.rsvp-buttons {
    text-align: center;
    margin-top: 20px;
}
.rsvp-button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    margin: 0 10px;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.rsvp-button:hover {
    font-weight: bold;
    background-color: #3093fd;
}
.rsvp-button:active {
    background-color: #004b9b;
}

/*small paragraph */
.small-paragraph {
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
}

/* Media Query*/
@media screen and (max-width: 768px) {
    .container {
        max-width: 100%;
        padding: 10px;
    }

    .navbar {
        margin-top: 10px;
    }

    .main-header h1 {
        font-size: 24px;
    }

    .main-header h2 {
        font-size: 20px;
    }

    .main-header h3 {
        font-size: 18px;
    }

    .main-header p {
        font-size: 16px;
    }

    .image-section {
        grid-template-columns: 1fr; 
        grid-gap: 10px; 
    }

    .image-container img {
        max-width: 60%;
    }

    .vs-container {
        font-size: 20px;
    }

    .secondary-header h2 {
        font-size: 20px;
    }

    .secondary-header h3 {
        font-size: 18px;
    }

    .secondary-header p {
        font-size: 16px;
    }

    .rsvp-buttons {
        margin-top: 10px;
    }

    .rsvp-button {
        font-size: 16px;
        padding: 8px 16px;
    }

    .small-paragraph {
        font-size: 12px;
    }
}
